* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  height: 100vh;
  height: 100svh;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-div {
  max-width: 280px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 28px;
  margin: 0 auto;
  padding: 1rem 1rem 2.5rem;
}

.bar-code {
  width: 100%;
  border-radius: 12px;
}

.text-cont {
  text-align: center;
}

.heading {
  color: hsl(218, 44%, 22%);
  font-size: 1.5rem;
  margin: 1rem 0;
  font-weight: 700;
}

.details {
  color: hsl(220, 15%, 55%);
  font-size: 1rem;
  font-weight: 400;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%); 
}